<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "SamToh.JPG" %>
	</div>

	<div id="content">
		<h1>Hi there!</h1>
		<p>Hey! This is Samuel a software developer from Singapore and I'm currently living in Brisbane, Australia.</p>
		<p>Welcome to my personal site/blog. In here you can find out the things that I am currently working on.</p>
		<p>If you'd like to follow along as I learn more about difference programming languages, framework and other software related stuff, find me on Twitter <a href="http://twitter.com/SamuelToh">@SamuelToh</a> or on my Github space <a href="hhttps://github.com/SamuelToh">SamToh@Github</a>, or if you would like to talk about opportunities then just add me on <a href="https://au.linkedin.com/in/samuelyqtoh">Linkedin</a>.</p>
	</div>
</div>